.modal-title {
    display: flex;
    width: 100%;
}

.edit-title {
    height: 25px;
    position: relative;
    top: 18px;
    left: 15px;
}

.modal-title .form-control {
    min-height: 50px !important;
    font-size: 30px !important;
}

.modal-description p {
    margin-bottom: 0px;
}